

<!-- modal end -->
<div class="container mt-5 pt-5 d-flex flex-column flex-lg-row justify-content-evenly">
<!-- heading -->
<div class="text-center text-lg-start mt-0 pt-0 mt-lg-5 pt-lg-5">


<%= form_for(resource, as: resource_name, url:registration_path(resource_name                                                                                     )) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<h1 class="text-primary fw-bold fs-0">facebook</h1>
<p class="w-75 mx-auto fs-4 mx-lg-0">Facebook helps you connect and share with the people in your life.</p>
</div>
<!-- form card -->
<div style="max-width: 28rem; width: 100%">
<!-- login form -->
<!-- first was form tag -->
   <div class="bg-white shadow rounded p-3 input-group-lg">
        <h1>sign up</h1>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control my-3"%>
            <%= f.label :password %>
            <% if @minimum_password_length %>
               <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br>
                    <%= f.password_field :password, autocomplete: "new-password", class:"form-control my-3"%>
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control my-3" %>
                      <div class="actions">
                        <p align="center">
                          <%= f.submit "Sign up", class:"btn btn-success btn-lg"%>
                        </p>

                            <%= render "devise/shared/links"%></p>
    </div>
</div>
<% end %>

