  <div class="container mt-5 pt-5 d-flex flex-column flex-lg-row justify-content-evenly">
  <!-- heading -->
    <div class="text-center text-lg-start mt-0 pt-0 mt-lg-5 pt-lg-5">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h1 class="text-primary fw-bold fs-0">facebook</h1>
      <p class="w-75 mx-auto fs-4 mx-lg-0">Facebook helps you connect and share with the people in your life.</p>
    </div>
    <!-- form card -->
      <div style="max-width: 28rem; width: 100%">
      <!-- login form -->
      <!-- first was form tag -->
        <div class="bg-white shadow rounded p-3 input-group-lg">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control my-3" %>

          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control my-3"  %>

            <% if devise_mapping.rememberable? %>
            <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            </div>
            <% end %>
                <div class="actions">
                 <%= f.submit "Log in" ,class:"btn btn-primary w-100 my-3"%>
                  <a href="#" class="text-decoration-none text-center">
                    <%= render "devise/shared/links"%></a>
                </div>   
       </div>
    </div>
  </div>
  <% end %>


